@page
@model WebApp.Pages_Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h1>Confirm Action</h1>
<hr/>
<h3>Are you sure you want to delete save "@Model.GameState.Name"?</h3>
<div>
    <br/>
    <form method="post">
        <input type="hidden" asp-for="GameState.Name"/>
        <input type="submit" value="Yes, delete" class="btn btn-danger"/> <a class="btn btn-secondary" asp-page="./Load">No, go back</a>
    </form>
</div>
