@page
@using GameEngine
@model WebApp.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details for game</h2>

<div>
    <hr/>
    <table style="margin-left:auto; margin-right:auto">
        @for (var column = 0; column < Model.Game.Height; column++) {
            <tr>
                @for (var row = 0; row < Model.Game.Width; row++) {
                    switch (Model.Game.GetBoard()[column, row]) {
                        case Cell.X:
                            <td class="td-field">🔴</td>
                            break;
                        case Cell.O:
                            <td class="td-field">🟡</td>
                            break;
                        case Cell.Empty:
                            <td class="td-field"> </td>
                            break;
                    }
                }
            </tr>
        }
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.GameState.Name">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<style>
.td-field {
    border: 2px solid blue; 
    background-color: cornflowerblue; 
    width: 60px; 
    height: 60px; 
    text-align: center; 
    font-size: 2rem
}

.button-field {
    margin-top: 1em;
    text-align: center;
}

.move-button {
    height: 1rem;
    width: 1rem;
}
</style>