@page
@using GameEngine
@model WebApp.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr/>
<h4>Save name: "@Model.GameState.Name"</h4>
<div>
    @if (Model.GameState.Winner != 0) {
        <div class="alert alert-success my-4">
            <div class="alert-heading">
                @if (Model.GameState.Winner == 1) {
                    <div class="alert-heading">@(Model.GameState.Opponent == 0 ? "Player 1 won!" : "Player won!")</div>
                }
                @if (Model.GameState.Winner == 2) {
                    <div class="alert-heading">@(Model.GameState.Opponent == 0 ? "Player 2 won!" : "Computer won!")</div>
                }
                @if (Model.GameState.Winner == 3) {
                    <div class="alert-heading">It's a tie!</div>
                }
            </div>
        </div>
    }
    <table style="margin-left:auto; margin-right:auto">
        @for (var column = 0; column < Model.Game.Height; column++) {
            <tr>
                @for (var row = 0; row < Model.Game.Width; row++) {
                    switch (Model.Game.GetBoard()[column, row]) {
                        case Cell.X:
                            <td class="td-field">🔴</td>
                            break;
                        case Cell.O:
                            <td class="td-field">🟡</td>
                            break;
                        case Cell.Empty:
                            <td class="td-field"> </td>
                            break;
                    }
                }
            </tr>
        }
    </table>
    <a style="text-align: right" class="btn btn-secondary mt-4" asp-page="./Load">Back to List of Games</a>
</div>
<style>
.td-field {
    border: 2px solid blue; 
    background-color: cornflowerblue; 
    width: 50px; 
    height: 50px; 
    text-align: center; 
    font-size: 1.5rem
}

.button-field {
    margin-top: 1em;
    text-align: center;
}

.move-button {
    height: 1rem;
    width: 1rem;
}
</style>