@page
@using GameEngine
@model WebApp.Pages_Games.EditModel

@{
    ViewData["Title"] = "Play game";
}
<h1>Playing game of Connect4</h1>
<br>
<h4>Save name: "@Model.GameState.Name"</h4>
<br/>
@if (Model.GameState.Winner != 0) {
    <div class="alert alert-success">
        <div class="alert-heading">
            @if (Model.GameState.Winner == 1) {
                <div class="alert-heading">Player 1 won!</div>
            }
            @if (Model.GameState.Winner == 2) {
                <div class="alert-heading">Player 2 won!</div>
            }
            @if (Model.GameState.Winner == 3) {
                <div class="alert-heading">It's a tie!</div>
            }
        </div>
    </div>
}

<div>
    @if (Model.GameState.Winner == 0) {
        if (Model.Game.FirstPlayersMove) {
            <div style="text-align: center">Red, your move! 🔴</div>
        }
        else {
            <div style="text-align: center">Yellow, your move! 🟡</div>
        }
    }
    <table style="margin-left:auto; margin-right:auto">
        @for (var column = 0; column < Model.Game.Height; column++) {
            <tr>
                @for (var row = 0; row < Model.Game.Width; row++) {
                    switch (Model.Game.GetBoard()[column, row]) {
                        case Cell.X:
                            <td class="td-field">🔴</td>
                            break;
                        case Cell.O:
                            <td class="td-field">🟡</td>
                            break;
                        case Cell.Empty:
                            <td class="td-field"> </td>
                            break;
                    }
                }
            </tr>
        }
        <form method="post">
            <input type="hidden" name="game" value="@Model.GameState.Name">
            @if (Model.GameState.Winner == 0) {
                <tr>
                    @for (var i = 0; i < Model.Game.Width; i++) {
                        <td class="button-field">
                            <button class="btn move-button btn-primary" name="move" value="@i"> </button>
                        </td>
                    }
                </tr>
            }
        </form>
    </table>
    <a style="text-align: right" class="btn btn-secondary" asp-page="./Load">Back to List of Games</a>
</div>
<style>
.td-field {
    border: 2px solid blue; 
    background-color: cornflowerblue; 
    width: 50px; 
    height: 50px; 
    text-align: center; 
    font-size: 1.5rem
}

.button-field {
    margin-top: 1em;
    text-align: center;
}

.move-button {
    height: 1rem;
    width: 1rem;
}
</style>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}