@page
@model WebApp.Pages_Settings.IndexModel


@{
    ViewData["Title"] = "Current settings";
}

<h1>Current Settings</h1>
<hr/>
@foreach (var item in Model.SettingsState) {
    <div class="col-xl-4 col-lg-4 pb-4">
        <div class="card text-white bg-secondary mb-4">
            <div class="card-body">
                <h4 class="card-title">Board height: @Html.DisplayFor(modelItem => item.BoardHeight)</h4>
                <h4 class="card-title">Board width: @Html.DisplayFor(modelItem => item.BoardWidth)</h4>
            </div>
        </div>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.SettingsId">Edit</a>
        <a class="btn btn-secondary" asp-page="/Games/Load" asp-route-id="@item.SettingsId">Back to Game</a>
    </div>
}